body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(16px, 1.5vh);
}

#navigation {
    position: fixed;
    z-index: 12;
    /* background: white; */
    color: white;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    height: 10vh;
    color: white;
    mix-blend-mode: difference;
    padding: .5rem;
}
#slides {
    height: 100vh;
}
.section {
    text-align:center;
    font-size: 3em;
    font-family: arial;
}

.slide{
    background-size: cover;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
.slide.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




.mystere__titre {
    color: white;
    mix-blend-mode: difference;
    font-size: 2.5rem;
    padding: 0 2rem;
}

.fp-arrow.fp-prev, .fp-arrow.fp-next {
    border: none;
}
.fp-arrow.fp-prev, .fp-arrow.fp-next {
    width: 50px;
    height: 50px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="10,50 50,90 50,10" fill="white"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}
.fp-arrow.fp-next {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="90,50 50,90 50,10" fill="white"/></svg>');
}
@media screen and (max-width: 767px) {
    .fp-prev {
        left: 0;
    }
    .fp-next {
        right: 0;
    }
}