body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(16px, 1.5vh);
}

#navigation {
    position: fixed;
    z-index: 12;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    height: 10vh;
    padding: .5rem;
}
#navigation, #navigation a {
    color: white;
    mix-blend-mode: difference;
}
#chapelets-navigation {
    position: fixed;
    z-index: 13;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#chapelets-navigation .x-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: block;
    color: transparent;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 233 291.25"><polygon class="fil0" points="233,22 211,0 117,94 22,0 0,22 94,117 0,211 22,233 117,139 211,233 233,211 139,117 " fill="black"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
}
#chapelets-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#chapelets-navigation ul li {
    line-height: 4rem;
}
#chapelets-navigation ul a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}
#slides {
    height: 100vh;
}
.section {
    text-align:center;
    font-size: 3em;
    font-family: arial;
}

.slide{
    background-size: cover;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
.slide.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mystere__titre {
    color: white;
    mix-blend-mode: difference;
    font-size: 4.5rem;
    padding: 0 2rem;
}
@media screen and (max-width: 767px) {
    .mystere__titre {
        font-size: 2.5rem;
    }
}

.fp-arrow.fp-prev, .fp-arrow.fp-next {
    border: none;
}
.fp-arrow.fp-prev, .fp-arrow.fp-next {
    width: 50px;
    height: 50px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="10,50 50,90 50,10" fill="white"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: difference;
}
.fp-arrow.fp-next {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="90,50 50,90 50,10" fill="white"/></svg>');
    mix-blend-mode: difference;
}
@media screen and (max-width: 767px) {
    .fp-prev {
        left: 0;
    }
    .fp-next {
        right: 0;
    }
}